
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212; 
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #fff;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
textarea:focus,
select:focus {
    border-color: #007BFF;
    outline: none;
}

button[type="submit"] {
    display: inline-block;
    background-color: #6c757d;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #fff;
    color: #333;
}

button.back-button {
    background-color: #6c757d;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button.back-button:hover {
    background-color: #fff;
    color: #333;
}
legend{
    color: #fff;
}

section {
    margin-top: 20px;
    color: #fff;
}

section h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

section p {
    font-size: 16px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
    color: #fff;
}

.container {
    background-color: #e9ecef;
    padding: 15px;
    border-radius: 4px;
    margin-top: 20px;
    font-size: 16px;
}

aside {
    margin-top: 20px;
    font-size: 16px;
    color: #fff;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    display: block;
    border-radius: 8px;
}

figcaption {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    color: #fff;
}
